export AWS_PROFILE=sandbox
export AWS_REGION=us-east-1

export MYSQL_ROOT_PASSWORD="SETECAstronomy"
export MYSQL_HOST="127.0.0.1"
export MYSQL_PORT="3307"
export MYSQL_DB="tdc-db"

export QUARKUS_DATASOURCE_JDBC="true"
export QUARKUS_DATASOURCE_JDBC_URL="jdbc:mysql://$MYSQL_HOST:$MYSQL_PORT/$MYSQL_DB"
export QUARKUS_DATASOURCE_DB_KIND="mysql"
export QUARKUS_DATASOURCE_USERNAME="root"
export QUARKUS_DATASOURCE_PASSWORD=$MYSQL_ROOT_PASSWORD
export QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION="update"

export TF_VAR_env_name="tdc-testa"
export TF_VAR_aws_nuke="true"
export TF_VAR_pvt_nets="subnet-0b81b34300330cd69,subnet-098246f4691a95678"
export TF_VAR_db_username="master"
export TF_VAR_db_password="BruceLeroy1985"
export TF_VAR_db_sg_id="sg-05b7a6ffb20e8ec78"
