export AWS_PROFILE=sandbox
export AWS_REGION=us-east-1

export TF_VAR_env_name="tdc-testa"
export TF_VAR_aws_nuke="true"
export TF_VAR_pvt_nets="subnet-0b81b34300330cd69,subnet-098246f4691a95678"
export TF_VAR_db_username="master"
export TF_VAR_db_password="BruceLeroy1985"
export TF_VAR_db_sg_id="sg-05b7a6ffb20e8ec78"
