@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700);

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-Container {
  flex: 1;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    padding-top: 4.4em;
    font-family: 'Titillium Web', Helvetica Neue, Ubuntu, Segoe UI, sans-serif;
}

h1, h2, .couponCode span, .confirmationMessage p {
    font-size: 2.5em;
}

.summary, .summaryValue, .confirmationMessage {
    background-color: #C4C4C4;
    color: #525252;
    border: none;
    padding: 3em;
}
.couponBenefit {
    width: 8.4em;
    height: 8.4em;
    background-color: #C4C4C4;
    border-radius: 50%;
}
.couponCode, .navbarUserProfile li {
    background-color: #ECECEC;
}

.couponCode input {
    background-color: transparent;
    padding: 0.5em;
    border:none;
    border-bottom: 4px solid #000000;
    font-size: 20px;
}

.couponCode input:focus {
    border-color: #CCC;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}

.confirmationMessage {
    text-align: center;
}

.navbarUserProfile li {
    padding: 0.2em 1em;
    margin-left: 0.5em;
}

.navbarUserProfile li:focus {
    background-color: #525252;
}

.nav-link {
    color: #525252;
}

.primaryButton, .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #525252;
    color: #FFF;
    border: none;
}

.primaryButton, .secondaryButton {
    font-size: 1.5em;
}

.secondaryButton {
    border: 2px solid #1C1C1C;
    background-color: transparent;
    color: #525252;
}

section {
    padding: 3rem;
}

.summaryValue span {
    font-size: 1.6em;
}

.summaryValue strong {
    font-size: 2.2em;
}

.userPhotoProfile {
    width: 18em;
    height: 18em;
    background-color: #C4C4C4;
    border-radius: 50%;
}

.carousel,
.carousel-item,
.carousel-inner {
    height: 400px !important;
    width: 100% !important;
}

.carousel-inner {
    background: #0a53be;
    fill: #0c4128 !important;
    background-image: url("/tdc/img/fundo-home.jpg") !important;
    border: 2px solid green;
}