@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700);

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-Container {
  flex: 1;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    font-family: 'Titillium Web', Helvetica Neue, Ubuntu, Segoe UI, sans-serif;
}

h1 {
    font-size: 2.5em;
}

h2, .coupon-code span, .confirmation-message p {
    font-size: 1.8em;
}

.summary, .summary-value, .confirmation-message, .form-basic-pass-contact-request {
    background-color: #C4C4C4;
    color: #525252;
    border: none;
    padding: 3em;
}

.circular-area {
    width: 8.4em;
    height: 8.4em;
    background-color: #C4C4C4;
    border-radius: 50%;
    margin-bottom: 3em;
}

.coupon-code {
    background-color: #ECECEC;
}

.coupon-code input {
    background-color: transparent;
    padding: 0.5em;
    border:none;
    border-bottom: 4px solid #000000;
    font-size: 20px;
}

.coupon-code input:focus {
    border-color: #CCC;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}

.confirmation-message {
    text-align: center;
}

.nav-link {
    color: #525252;
}

.nav-link:focus {
    color: #525252;
}

.primary-button, .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #525252;
    color: #FFF;
    border: none;
}

.primary-button, .secondary-button {
    font-size: 1.5em;
}

.sign-in-button {
    border: none;
    outline: none;
    background-color: transparent;
}

.secondary-button {
    border: 2px solid #1C1C1C;
    background-color: transparent;
    color: #525252;
}

section {
    padding: 3rem;
}

.summary-value span {
    font-size: 1.6em;
}

.summary-value strong {
    font-size: 2.2em;
}

.background-home {
    background: url('/tdc/images/background-image-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
}

.sign-out-div {
    display: none;
}

#logout-header-tab {
    cursor: pointer;
}
