{#include main}

{#body}
<section class="container">
    <h1 class="title mb-4">CHECKOUT REALIZADO COM SUCESSO</h1>
    <div class="row">
        <div class="col-sm-12 col-md">
            <div class="p-5 mb-4 rounded-3 confirmationMessage">
                <strong class="text-center">Parabéns! Você receberá mais info por email.</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md">
                <div class="text-center">
                    <a class="btn btn-primary primaryButton" href="/login">IR PARA ÁREA DE CLIENTE</a>
                    <a class="btn btn-primary primaryButton" href="/">CONTINUAR NAVEGANDO PELO SITE</a>
                </div>
            </div>
        </div>
    </div>
</section>
{/body}

{/include}