{#include main}

{#body}
<section class="container">
    <div class="row">
      <h1 class="title mb-5">CHECKOUT REALIZADO COM SUCESSO</h1>
      <div class="text-center col-sm-12 col-md">
        <div class="p-5 mb-4 rounded-3 confirmationMessage">
          <p>Parabéns! Você receberá mais info por email.</p>
        </div>
      </div>
      <div class="row">
        <div class="text-center col-sm-12 col-md">
          <a class="btn btn-primary primaryButton" href="/user/user-area">IR PARA ÁREA DE CLIENTE</a>
          <a class="btn btn-primary primaryButton" href="/">CONTINUAR NAVEGANDO PELO SITE</a>
        </div>
      </div>
    </div>
</section>
{/body}

{/include}