<!DOCTYPE html>
<ui:composition>
    <ui:include src="/tdc/listras.xhtml"/>
    <footer class="bg-black">

        <div class="container">

            <div class="row">

                <div class="col-sm-4">

                    <div class="row footer-credits">

                        <div>
                            <i class="fas fa-fw fa-cubes"></i>
                            <a href="/pt"
                               title="#{home['rodape.sobre.tip']}">
                                #{home['rodape.sobre']}</a>
                        </div>

                        <div>
                            <i class="fas fa-fw fa-envelope"></i>
                            <a href="/contato"
                               title="#{home['rodape.contato.tip']}">
                                #{home['rodape.contato']}</a>
                        </div>

                        <div>
                            <i class="fas fa-fw fa-question-circle"></i>
                            <a href="/faq"
                               title="#{home['rodape.faq.tip']}">
                                #{home['rodape.faq']}</a>
                        </div>

                        <div>
                            <i class="fas fa-fw fa-list"></i>
                            <a href="/conduta"
                               title="#{home['rodape.conduta.tip']}">
                                #{home['rodape.conduta']}</a>
                        </div>

                        <div>
                            <i class="fas fa-file-signature"></i>
                            <a href="/privacidade" target="_blank"
                               title="#{home['rodape.privacidade.tip']}">
                                #{home['rodape.privacidade']}</a>
                        </div>

                    </div>

                    <div style="padding: 20px 0px;" class="visible-xs"></div>

                </div>

                <div class="col-sm-4 text-center">

                    <div style="padding: 5px 0px;" class="visible-xs-inline-block"></div>

                    <a href="https://www.globalcode.com.br" target="_blank"
                       title="Globalcode Eventos">
                        <img src="https://s3-sa-east-1.amazonaws.com/globalcodesp/tdc/2015/img/logo/logo-globalcode-rodape.png"
                             alt="Globalcode" class="img-responsive center-block" />
                    </a>

                    <p class="footer-credits">
                        #{home['rodape.desenvolvido']}
                        <a href="https://www.globalcode.com.br" target="_blank"
                           title="Globalcode Eventos">
                            Globalcode</a>
                        <br />
                        Copyright <i class="fas fa-copyright"></i> 2007 - 2021
                        #{home['rodape.copyright']}
                        <br />
                    </p>

                </div>

                <div class="col-sm-4 text-center">

                    <div style="padding: 5px 0px;" class="visible-xs-inline-block"></div>

                    <a href="https://www.amigodosurdo.com" target="_blank"
                       title="Amigo do Surdo">
                        <img src="https://www.amigodosurdo.com/images/selos/selo-b-100x100.png"
                             alt="Amigo do Surdo" class="img-responsive center-block" />
                    </a>

                </div>

            </div>

            <br style="clear:both;"/>
            <br/>

            <div class="row">
                <div class="col-sm-12 text-center">
                    <small>The Developer's Conference #{home['rodape.observacao']} Globalcode Tecnologia e Eventos Ltda., CNPJ 03.281.114/0001-45, Rua Cunha Gago, 204 sala 5 Pinheiros, São Paulo - SP.</small>
                </div>
            </div>

        </div>

    </footer>

    <a href="#top"
       title="#{home['rodape.top.tip']}"
       class="btn btn-up">
        <i class="fas fa-fw fa-lg fa-angle-up"></i>
    </a>

</ui:composition>