<form class="form-floating needs-validation" novalidate="">
  <div class="row g-3">
    <div class="col-12">
      <input id="name" type="text" class="form-control" placeholder="Nome" aria-label="Nome">
      <div class="invalid-feedback">
      </div>
    </div>

    <div class="col-6">
      <input id="email" type="email" class="form-control" placeholder="Email" aria-label="Email">
      <div class="invalid-feedback">
      </div>
    </div>

    <div class="col-6">
      <input id="phone" type="tel" class="form-control" placeholder="Telefone" aria-label="Telefone">
      <div class="invalid-feedback">
      </div>
    </div>

    <div class="col-12">
      <input id="company-name" type="text" class="form-control"  placeholder="Empresa" aria-label="Empresa">
      <div class="invalid-feedback">
      </div>
    </div>

    <div class="col-12">
      <input id="job-position" type="text" class="form-control" placeholder="Cargo" aria-label="Cargo">
      <div class="invalid-feedback">
      </div>
    </div>
  </div>
</form>