<div class="tab-content card card-body p-5 form-to-grant-basic-pass" id="pills-tabContent">
  <div class="text-center mb-3">
    <h2 class="title">GARANTA SEU BASIC PASS FREE AQUI<br>
      ATRAVÉS DO REGISTRO SIMPLIFICADO!</h2>
  </div>
  <div class="text-start mb-3">
    <p>Através do registro simplificado você consegue garantir as suas entradas em apenas alguns minutos e voltar depois
      para completar os seus dados. Aproveite!</p>
  </div>
  <form class="row g-3 needs-validation" novalidate>
    <div class="form-floating col-md-12">
      <input id="vo_name_to_grant_basic_pass" type="text" class="form-control h-auto" aria-label="Nome" required>
      <label for="vo_name_to_grant_basic_pass">Nome</label>
    </div>
    <div class="form-floating col-md-6">
      <input id="vo_email_to_grant_basic_pass" type="email" class="form-control h-auto" aria-label="Email"
             onkeyup="mustBeEquals(event,'email','email_confirmation')" required>
      <label for="vo_email_to_grant_basic_pass">Email</label>
    </div>
    <div class="form-floating col-md-6">
      <input id="email_confirmation" type="email" class="form-control h-auto" aria-label="Confirme o email"
             onkeyup="mustBeEquals(event,'email','email_confirmation')" required>
      <label class=" ms-2" for="email_confirmation">Confirme o email</label>
    </div>
    <div class="form-check ms-2">
      <input id="vo_accepted_terms_to_grant_basic_pass" class="form-check-input" type="checkbox">
      <label class="form-check-label" for="vo_accepted_terms_to_grant_basic_pass">
        Eu li e concordo com os termos de uso de dados. Entenda como seus dados estão sendo utilizados clicando <a
        href="https://thedevconf.com/tdc/2021/connections/privacidade">aqui</a>.
      </label>
    </div>
    <div class="col-md-12 text-end">
      <button type="submit" class="btn btn-primary primary-button"
              onclick="handleFormSubmit('grant-basic-pass-through-email-form')">GARANTIR
      </button>
    </div>
  </form>
</div>

<script src="/tdc/formValidationFrontEnd.js"></script>
<script src="/tdc/formToGrantBasicPass.js" defer></script>
