<form class="form-floating">
  <div class="row g-3">
    <div class="col-6">
      <select class="form-select" aria-label="País">
        <option selected>País</option>
        <option value="1">One</option>
      </select>
    </div>

    <div class="col-6">
      <select class="form-select" aria-label="Cidade">
        <option selected>Cidade</option>
        <option value="1">One</option>
      </select>
    </div>

    <div class="col-6">
      <select class="form-select" aria-label="Gênero">
        <option selected>Gênero</option>
        <option value="1">One</option>
      </select>
    </div>

    <div class="col-6">
      <select class="form-select" aria-label="Etnia">
        <option selected>Etnia</option>
        <option value="1">One</option>
      </select>
    </div>

    <div class="col-6">
      <select class="form-select" aria-label="PcD">
        <option selected>PcD</option>
        <option value="1">One</option>
      </select>
    </div>
  </div>
</form>