<div class="tab-content card card-body p-5 form-basic-pass-contact-request" id="pills-tabContent">
  <div class="text-center mb-3">
    <h2 class="title">GARANTA SEU BASIC PASS FREE AQUI<br>
      ATRAVÉS DO REGISTRO SIMPLIFICADO!</h2>
  </div>
  <div class="text-start mb-3">
    <p>Através do registro simplificado você consegue garantir as suas entradas em apenas alguns minutos e voltar depois
      para completar os seus dados. Aproveite!</p>
  </div>
  <form class="row g-3 needs-validation" novalidate>
    <div class="form-floating col-md-12">
      <input id="vo_name_basic_pass_contact_request" type="text" class="form-control h-auto" aria-label="Nome" required>
      <label class="ms-2" for="vo_name_basic_pass_contact_request">Nome</label>
    </div>
    <div class="form-floating col-md-6">
      <input id="vo_email_basic_pass_contact_request" type="email" class="form-control h-auto" aria-label="Email"
             onkeyup="mustBeEquals(event,'vo_email_basic_pass_contact_request','vo_email_confirmation_basic_pass_contact_request')"
             required>
      <label class="ms-2" for="vo_email_basic_pass_contact_request">Email</label>
    </div>
    <div class="form-floating col-md-6">
      <input id="vo_email_confirmation_basic_pass_contact_request" type="email" class="form-control h-auto"
             aria-label="Confirme o email"
             onkeyup="mustBeEquals(event,'vo_email_basic_pass_contact_request','vo_email_confirmation_basic_pass_contact_request')"
             required>
      <label class="ms-2" for="vo_email_confirmation_basic_pass_contact_request">Confirme o email</label>
    </div>
    <div class="form-check ms-2">
      <input id="vo_accepted_terms_basic_pass_contact_request" class="form-check-input" type="checkbox">
      <label class="form-check-label" for="vo_accepted_terms_basic_pass_contact_request">
        Eu li e concordo com os termos de uso de dados. Entenda como seus dados estão sendo utilizados clicando <a
        href="https://thedevconf.com/tdc/2021/connections/privacidade">aqui</a>.
      </label>
    </div>
    <div class="col-md-12 text-end">
      <button type="submit" class="btn btn-primary primary-button"
              onclick="handleFormSubmit('basic-pass-contact-request-form')">GARANTIR
      </button>
    </div>
  </form>
</div>

<script src="/tdc/formValidationFrontEnd.js"></script>
<script src="/tdc/formBasicPassContactRequest.js" defer></script>
