<form class="form-floating">
  <div class="row g-3">
    <h2>Dados Cadastrais</h2>
    <div class="col-12">
      <input id="name" type="text" class="form-control" placeholder="Nome" aria-label="Nome" required>
      <div class="invalid-feedback">
      </div>
    </div>

    <div class="col-6">
      <input id="email" type="email" class="form-control" placeholder="Email" aria-label="Email" required>
      <div class="invalid-feedback">
      </div>
    </div>

    <div class="col-6">
      <input id="phone" type="tel" class="form-control" placeholder="Telefone" aria-label="Telefone" required>
      <div class="invalid-feedback">
      </div>
    </div>

    <div class="col-12">
      <input id="company-name" type="text" class="form-control"  placeholder="Empresa" aria-label="Empresa" required>
      <div class="invalid-feedback">
      </div>
    </div>

    <div class="col-12">
      <input id="job-position" type="text" class="form-control" placeholder="Cargo" aria-label="Cargo" required>
      <div class="invalid-feedback">
      </div>
    </div>

    <h2>Dados para estatística do evento</h2>
    <div class="col-6">
      <select class="form-select" aria-label="País" required>
        <option selected>País</option>
        <option value="1">One</option>
      </select>
    </div>

    <div class="col-6">
      <select class="form-select" aria-label="Cidade" required>
        <option selected>Cidade</option>
        <option value="1">One</option>
      </select>
    </div>

    <div class="col-6">
      <select class="form-select" aria-label="Gênero" required>
        <option selected>Gênero</option>
        <option value="1">One</option>
      </select>
    </div>

    <div class="col-6">
      <select class="form-select" aria-label="Etnia" required>
        <option selected>Etnia</option>
        <option value="1">One</option>
      </select>
    </div>

    <div class="col-6">
      <select class="form-select" aria-label="PcD" required >
        <option selected>PcD</option>
        <option value="1">One</option>
      </select>
    </div>

    <div class="col-12 text-end">
      <button class="btn btn-primary primary-button" type="submit">SALVAR</button>
    </div>
  </div>
</form>