<form class="form-floating needs-validation" novalidate="">
    <div class="row g-3">
        <div class="col-12">
            <input type="text" class="form-control" id="name" placeholder="Nome" aria-label="Nome">
            <div class="invalid-feedback">
            </div>
        </div>

        <div class="col-6">
            <input type="email" class="form-control" id="email" placeholder="Email" aria-label="Email">
            <div class="invalid-feedback">
            </div>
        </div>

        <div class="col-6">
            <input type="email" class="form-control" id="emailConfirmation" placeholder="Confirme o email"
                   aria-label="Confirme o email">
            <div class="invalid-feedback">
            </div>
        </div>

        <div class="col-6">
            <input type="password" class="form-control" id="password" placeholder="Senha" aria-label="Senha">
            <div class="invalid-feedback">
            </div>
        </div>

        <div class="col-6">
            <input type="password" class="form-control" id="passwordConfirmation" placeholder="Confirme a senha"
                   aria-label="Confirme a senha">
            <div class="invalid-feedback">
            </div>
        </div>

        <div class="col-6">
            <input type="text" class="form-control" id="cpf" placeholder="CPF" aria-label="CPF">
            <div class="invalid-feedback">
            </div>
        </div>

        <div class="col-6">
            <input type="text" class="form-control" id="passport" placeholder="Passaporte" aria-label="Passaporte">
            <div class="invalid-feedback">
            </div>
        </div>

        <div class="col-6">
            <input type="tel" class="form-control" id="phone" placeholder="Telefone" aria-label="Telefone">
            <div class="invalid-feedback">
            </div>
        </div>

        <div class="col-6">
            <input type="tel" class="form-control" id="cellphone" placeholder="Celular" aria-label="Celular">
            <div class="invalid-feedback">
            </div>
        </div>

        <div class="col-12">
            <input type="text" class="form-control" id="jobPosition" placeholder="Ocupação" aria-label="Ocupação">
            <div class="invalid-feedback">
            </div>
        </div>

        <div class="col-12">
            <input type="text" class="form-control" id="companyName" placeholder="Empresa" aria-label="Empresa">
            <div class="invalid-feedback">
            </div>
        </div>
    </div>
</form>