<h2>Dados Cadastrais</h2>
<div class="col-md-12">
  <input type="text" class="form-control" placeholder="Nome" aria-label="Nome" required>
</div>

<div class="col-md-6">
  <input type="email" class="form-control" placeholder="Email" aria-label="Email" required>
</div>

<div class="col-md-6">
  <input type="tel" class="form-control" placeholder="Telefone" aria-label="Telefone" required>
</div>

<div class="col-md-12">
  <input type="text" class="form-control" placeholder="Empresa" aria-label="Empresa" required>
</div>

<div class="col-md-12">
  <input type="text" class="form-control" placeholder="Cargo" aria-label="Cargo" required>
</div>

<h2>Dados para estatística do evento</h2>
<div class="col-md-6">
  <select class="form-select" aria-label="País" required>
    <option selected disabled value="">País</option>
    <option value="1">One</option>
  </select>
</div>

<div class="col-md-6">
  <select class="form-select" aria-label="Cidade" required>
    <option selected disabled value="">Cidade</option>
    <option value="1">One</option>
  </select>
</div>

<div class="col-md-6">
  <select class="form-select" aria-label="Gênero" required>
    <option selected disabled value="">Gênero</option>
    <option value="1">One</option>
  </select>
</div>

<div class="col-md-6">
  <select class="form-select" aria-label="Etnia" required>
    <option selected disabled value="">Etnia</option>
    <option value="1">One</option>
  </select>
</div>

<div class="col-md-6">
  <select class="form-select" aria-label="PcD" required >
    <option selected disabled value="">PcD</option>
    <option value="1">One</option>
  </select>
</div>

<div class="form-check py-2 mb-3 bg-light">
  <input class="form-check-input" type="checkbox" value="" id="checkbox-data-agreement" required>
  <label class="form-check-label" for="checkbox-data-agreement">
    Eu li e concordo com os termos de uso de dados. Entenda como seus dados estão sendo utilizados clicando <a href="https://thedevconf.com/tdc/2021/connections/privacidade">aqui</a>.
  </label>
</div>