{#include main}
{#body}
<b>Welcome to thedevconf!</b>

<div>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
</div>

Other things to try:
<ul>
    <li>Check API status <a href="/api/_hc/ready" target="_blank">/api/_hc/ready</a></li>
    <li><a href="#" onclick="signOut();">Sign out</a>
        <script>
            function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                    console.log('User signed out.');
                });
            }
        </script></li>
</ul>
{/body}
{/include}