{#include main}

{#body}
<div class="container">
    <div class="row">
        <h1>LOGIN</h1>
        <div class="form-signin text-center">
            <form>
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput">
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword">
                    <label for="floatingPassword">Senha</label>
                </div>
                <div class="d-flex justify-content-between mt-3">
                    <button class="btn btn-lg btn-primary primaryButton" type="submit">ENTRAR</button>
                    <button class="btn btn-lg btn-primary secondaryButton" type="submit">REGISTRAR</button>
                </div>
            </form>

        </div>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
</div>
{/body}

{/include}