{#include main}

{#body}

<div class="container">
  <section class="container col-sm-12 col-md-9 mb-5">
    <div class="row">
        <h1 class="title mt-5 mb-5">LOGIN</h1>
    </div>
    <div class="form-signin mb-3">
      <form class="row g-0 needs-validation mb-5" novalidate>
        <div class="form-floating mb-3">
          <input id="email" type="email" class="form-control" required>
          <label for="email">Email</label>
        </div>

        <div class="form-floating mb-3">
          <input id="password" type="password" class="form-control" required>
          <label for="password">Senha</label>
        </div>

        <div class="d-flex justify-content-end mt-5">
          <button class="w-50 btn btn-lg btn-primary primary-button me-5" type="submit">ENTRAR</button>
          <a class="w-50 btn btn-lg btn-primary secondary-button" href="/user/registration"
             type="submit">REGISTRAR</a>
        </div>
      </form>
    </div>
    <h2 class="title text-start mt-5 mb-5">Fazer login com Google</h2>
    <button class="g-signin2 sign-in-button" data-onsuccess="onSignIn" onclick="signIn();"></button>
  </section>
</div>

{/body}
{#scripts}
<script src="/tdc/formValidationFrontEnd.js"></script>
{/scripts}
{/include}