<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tdc-api</title>
    <meta name="google-signin-client_id" content="{cfg.googleClientId}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/tdc.css" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    {#insert head /}
</head>
<body>
    {#include header /}
    <main>
    {#insert body /}
    </main>
    {#include footer /}
    <script src="/jquery/jquery.js"></script>
    <script src="/popper.js/popper.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/index.js"></script>
    {#insert scripts /}
</body>
</html>