<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>tdc-api</title>
      <meta name="google-signin-client_id" content="{cfg.googleClientId}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="/tdc.css" rel="stylesheet">
      <link href="/custom.min.css" rel="stylesheet">
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      {#insert head /}

  </head>
  <body class="Site">
      {#include header /}
      <main class="Site-Container">
      {#insert body /}
      </main>
      {#include footer /}
      <script src="/hashids.js/hashids.min.js"></script>
      <script src="/jquery/jquery.js"></script>
      <script src="/popper.js/popper.js"></script>
      <script src="/bootstrap/js/bootstrap.js"></script>
      <script src="/moment/moment-with-locales.min.js"></script>
      <script src="/tdc/utils.js"></script>
      <script src="/tdc/tdc.js"></script>
      <script src="/index.js"></script>
      {#insert scripts /}
  </body>
</html>