{#include main}

{#body}
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="title mt-5 mb-5">{msg:reg_title()}</h1>
      <p>Client ID: <span class="tdc_client_id"></span></p>
      <p class="tdc_debug"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>Created At: <span class="createTime"></span></p>
    </div>
  </div>

  <form class="row g-3 needs-validation mb-5" novalidate>
    {#include formUserData /}
    <div class="col-md-12 text-end">
      <button type="submit" class="btn btn-primary primary-button">SALVAR</button>
    </div>
  </form>

</div>
{/body}

{#scripts}
<script src="/tdc/registration.js"></script>
{/scripts}

{/include}