{#include main}

{#body}
<section class="container">
  <h1 class="title mb-5">RESUMO DO EVENTO</h1>
  <div class="alert alert-warning alert-dismissible fade show mt-3 mb-3" role="alert">
    Temos um <strong>presente</strong> para você! O <strong>basic pass grátis</strong> te dá entrada a vários
    eventos...
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md">
      <div id="div-summary" class="p-5 mb-4 rounded-3 summary"></div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="row">
        <div class="card card-body summary-value">
          <div class="d-flex justify-content-between mb-3">
            <span>Valor</span>
            <strong>R$ 9,00</strong>
          </div>
          <div class="text-center">
            <a class="btn btn-primary primary-button" href="/confirmation">CHECKOUT</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="coupon-code">
  <div class="container">
    <h2 class="title">CÓDIGO DE DESCONTO</h2>
  </div>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center items-content-center">
      <div class="col-sm-12 col-md-6">
        <div class="pt-4 my-md-5 pt-md-5">
          <div class="d-flex-inline mb-3"></div>
          <span>Tem um código de desconto? Valide ele aqui...</span>
          <input type="text" class="form-control mt-3 mb-3">
          <div class="text-center">
            <a class="btn btn-primary mt-4 primary-button">VALIDAR CÓDIGO</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{/body}

{#scripts}
<script src="/summary.js"></script>
{/scripts}

{/include}