<section class="row">
    <div class="d-flex justify-content-center mb-5">
        <div class="col-6 userPhotoProfile"></div>
    </div>
    <h2 class="title">Ana Carolina</h2>
</section>

<section clas="row">
    <h2 class="title mb-5">Badges TDC</h2>
    <div class="d-flex justify-content-between mb-5">
        <div class="col-6 couponBenefit"></div>
        <div class="col-6 couponBenefit"></div>
        <div class="col-6 couponBenefit"></div>
        <div class="col-6 couponBenefit"></div>
    </div>
</section>