<section class="row">
  <h2 class="title mb-3">Dados Cadastrais</h2>
  {#include formRegistrationData /}
</section>

<section class="row">
  <h2 class="title mb-3">Dados para estatística do evento</h2>
  {#include formStatisticData /}
</section>

<section class="row">
  <h2 Class="title mb-3">Entenda como seus dados estão sendo usados</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. A, id nam consequat consectetur cras. Placerat
    sed in viverra turpis amet tellus. Nulla at orci, morbi purus tortor sodales. Dui sed scelerisque etiam
    donec sed rhoncus. Sit a, non amet, ultrices. Semper risus phasellus curabitur interdum. Vitae, in
    mauris lobortis tortor sed nisl lectus lobortis auctor. Nibh et diam quam nisl, odio purus enim. Mi in
    elit varius id aliquam consectetur. Faucibus vitae nunc vestibulum, aliquet quis sed ac volutpat est.
    Turpis adipiscing posuere etiam ut tortor accumsan diam at.</p>
  <div class="form-check py-2 mb-3 bg-light">
    <input class="form-check-input" type="checkbox" value="" id="checkbox-data-agreement">
    <label class="form-check-label" for="checkbox-data-agreement">
      Eu li e concordo com os termos de uso de dados.
    </label>
  </div>
</section>

<section class="row">
  <h2 Class="title mb-3">Gerenciar minha conta</h2>
  <p>Semper risus phasellus curabitur interdum. Vitae, in mauris lobortis tortor sed nisl lectus lobortis
    auctor. Nibh et diam quam nisl, odio purus enim. Mi in elit varius id aliquam consectetur. Faucibus vitae
    nunc vestibulum, aliquet quis sed ac volutpat est. Turpis adipiscing posuere etiam ut tortor accumsan.</p>
  <div class="d-grid gap-2">
    <button type="button" class="btn btn-danger">Quero excluir minha conta e eliminar meus dados!</button>
  </div>
</section>