{#include main}

{#body}

<section class="container">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                  type="button" role="tab" aria-controls="pills-profile" aria-selected="true">Profile
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-settings-tab" data-bs-toggle="pill" data-bs-target="#pills-settings"
                  type="button" role="tab" aria-controls="pills-settings" aria-selected="false">Configurações
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="/sair">Sair</a>
        </li>
      </ul>
    </div>
  </div>

    <div class="col-12">
      <div class="tab-content card card-body p-5" id="pills-tabContent">
        <div class="tab-pane fade show active text-center" id="pills-profile" role="tabpanel"
             aria-labelledby="pills-profile-tab">
          <svg class="bd-placeholder-img rounded-circle mb-3" width="140" height="140"
               xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
               preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Foto do perfil</title>
            <rect width="100%" height="100%" fill="#777"/>
            <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
          </svg>
          <h2>Ana Carolina</h2>
        </div>
        <div class="tab-pane fade text-start" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab">
          <h2>Entenda como seus dados estão sendo usados</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. A, id nam consequat consectetur cras. Placerat
            sed in viverra turpis amet tellus. Nulla at orci, morbi purus tortor sodales. Dui sed scelerisque etiam
            donec sed rhoncus. Sit a, non amet, ultrices. Semper risus phasellus curabitur interdum. Vitae, in
            mauris lobortis tortor sed nisl lectus lobortis auctor. Nibh et diam quam nisl, odio purus enim. Mi in
            elit varius id aliquam consectetur. Faucibus vitae nunc vestibulum, aliquet quis sed ac volutpat est.
            Turpis adipiscing posuere etiam ut tortor accumsan diam at.</p>
          <div class="form-check py-2 mb-3 bg-light">
            <input class="form-check-input" type="checkbox" value="" id="checkboxDataAgreement">
            <label class="form-check-label" for="checkboxDataAgreement">
              Eu li e concordo com os termos de uso de dados.
            </label>
          </div>
          <h2>Gerenciar minha conta</h2>
          <p>Semper risus phasellus curabitur interdum. Vitae, in mauris lobortis tortor sed nisl lectus lobortis
            auctor. Nibh et diam quam nisl, odio purus enim. Mi in elit varius id aliquam consectetur. Faucibus vitae
            nunc vestibulum, aliquet quis sed ac volutpat est. Turpis adipiscing posuere etiam ut tortor accumsan.</p>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-danger">Quero excluir minha conta e eliminar meus dados!</button>
          </div>
        </div>
      </div>
    </div>
</section>
{/body}

{/include}