<section class="row">
  {#include formUserData /}
</section>

<section class="row">
  <h2 Class="title mb-3">Gerenciar minha conta</h2>
  <p>Semper risus phasellus curabitur interdum. Vitae, in mauris lobortis tortor sed nisl lectus lobortis
    auctor. Nibh et diam quam nisl, odio purus enim. Mi in elit varius id aliquam consectetur. Faucibus vitae
    nunc vestibulum, aliquet quis sed ac volutpat est. Turpis adipiscing posuere etiam ut tortor accumsan.</p>
  <div class="d-grid gap-2">
    <button type="button" class="btn btn-danger">Quero excluir minha conta e eliminar meus dados!</button>
  </div>
</section>