:root {
  --primary-color: #009cf6;
  --dark-color   : rgba(74, 74, 74, 1);
  --info-color   : rgb(86, 155, 243);
}

* {
  font-family: Impact, Charcoal, sans-serif !important;
}

main {
  background-image     : url(@/assets/img/yara.jpeg);
  background-repeat    : no-repeat;
  background-attachment: fixed;
  background-size      : cover;
  /* background-position-x: 50%;
  background-position-y: 50%; */
}

 
#event {
  height: 822px;
  background-image     : url(@/assets/img/tdc-group.png);
  background-repeat    : no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

#menu {
  background-color: #006937;
  height          : 109px;
}

.week-img {
  width        : 408px;
  margin-bottom: 30px;
}

hr {
  border       : 3px solid var(--primary-color) !important;
  border-radius: 5px;
  opacity      : unset;
}

.title {
  line-height: 1.25;
  font-size  : 41px !important;
  font-weight: 700;
  color      : rgb(74, 74, 74);
}

.text-primary {
  color: var(--primary-color);
}

.text-info {
  color: var(--info-color)
}

.card {
  border-radius: 22px;
}

.bg-dark {
  background-color: var(--dark-color) !important;
  color           : white !important;
}

#subscribe {
  border: 5px solid var(--primary-color);
}

#colored { 
  color: var(--primary-color);
}

.btn-rounded {
  border-radius: 500px !important;
}

.btn-primary {
  background-color: rgba(86, 155, 243, 1);
  border          : none;
  font-size       : 16px;
  font-style      : normal;
  font-weight     : normal;
  line-height     : 1.42857;
  max-width       : 257px;
  padding-left    : 16px;
  padding-right   : 16px;


}

.btn-primary:hover {
  background-color: rgba(86, 155, 243, 1);
}

.btn-extra-large {
  height: 54px !important;
}
