
a {
    color: #5c0f8b;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:focus {
    color: #390a56;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #5c0f8b;
}