/* 
    Created on : 20/02/2014, 17:21:40
    Author     : jSilverize
*/

a {
    color: #006937;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:focus {
    color: #49834a;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #006937;
}