/* 
    Created on : 23/05/2014, 16:15:23
    Author     : jSilverize
*/

a {
    color: #009845;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:focus {
    color: #2c6d36;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #009845;
}