@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,700);

* {
  font-family: 'Titillium Web', Helvetica Neue, Ubuntu, Segoe UI, sans-serif !important;
}

body {
  padding-top: 50px;
  font-size  : 15px;
  line-height: 1.5
}

a,
button,
img {
  -webkit-transition: .2s ease-in-out;
  transition        : .2s ease-in-out
}

::selection {
  color           : #f78f1e;
  background-color: #1c1c1c
}

::-moz-selection {
  color           : #f78f1e;
  background-color: #1c1c1c
}

.navbarHeader {
  border-bottom: 0;
  box-shadow   : 0 2px 1px rgba(0, 0, 0, .25)
}

.navbar-brand-logo,
.navbar-brand-logo-online {
  background-repeat  : no-repeat;
  background-position: left center;
  cursor             : pointer;
  content            : "";
  margin-left        : 15px
}

.navbar-brand-logo-online:hover,
.navbar-brand-logo:hover {
  opacity: .5
}

.navbar-default .navbar-brand-logo {
  padding-right: 125px
}

.navbar-default .navbar-brand-logo {
  /* background-image: url(../../img/logos/logo-tdc-horizontal-navbar-default.png) */
}

.navbar-inverse .navbar-brand-logo {
  /* background-image: url(../../img/logos/logo-tdc-horizontal-navbar-inverse.png) */
}

.navbar-default .navbar-brand-logo-online {
  padding-right: 120px
}

.navbar-default .navbar-brand-logo-online {
  /* background-image: url(https://cdn.thedevconf.com.br/2020/img/logos/tdconline/logo-tdc-online-horizontal-navbar-default.png) */
}

.navbar-inverse .navbar-brand-logo-online {
  /* background-image: url(https://cdn.thedevconf.com.br/2020/img/logos/tdconline/logo-tdc-online-horizontal-navbar-inverse.png) */
}

.navbar-nav>li>a {
  font-size  : 15px;
  font-weight: 400
}

.stripe {
  position  : absolute;
  width     : 100%;
  min-height: 4px;
  bottom    : 0;
}

.stripe-colors {
  float     : left;
  min-height: 5px;
  width     : 12.5%
}

@media (max-width:467px) {

  .navbar-default .navbar-brand-logo,
  .navbar-inverse .navbar-brand-logo {
    padding-right: 125px
  }

  .navbar-default .navbar-brand-logo-online,
  .navbar-inverse .navbar-brand-logo-online {
    padding-right: 120px
  }

  #picPatrocinadores {
    background-attachment: initial !important
  }
}

@media (min-width:768px) {

  .navbar-default .navbar-brand-logo,
  .navbar-inverse .navbar-brand-logo {
    padding-right: 115px
  }

  .navbar-default .navbar-brand-logo-online,
  .navbar-inverse .navbar-brand-logo-online {
    padding-right: 110px
  }

  #picPatrocinadores {
    background-size: 100% !important
  }
}

@media (min-width:1200px) {

  .navbar-default .navbar-brand-logo,
  .navbar-inverse .navbar-brand-logo {
    padding-right: 125px
  }

  .navbar-default .navbar-brand-logo-online,
  .navbar-inverse .navbar-brand-logo-online {
    padding-right: 120px
  }
}

section {
  padding: 40px 0 45px 0
}

section h1:first-of-type {
  margin-top : 0;
  padding-top: 0
}

.vertical-align {
  position         : relative;
  top              : 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform    : translateY(-50%);
  transform        : translateY(-50%)
}

.slider-home-primary {
  min-height: 400px;
  position  : relative;
  overflow-y: hidden
}

.slider-home-primary .slide-home {
  min-height         : 400px;
  background-size    : cover;
  background-position: center center;
  position           : relative;
  background-color   : #333
}

.slider-home-primary h2:first-of-type {
  margin-top   : 0;
  margin-bottom: 10px;
  padding-top  : 0;
  font-weight  : 100
}

.slide-content {
  min-height      : 120px;
  padding         : 25px 0 45px 0;
  color           : #fff;
  background-color: rgba(0, 0, 0, .25);
  position        : absolute;
  bottom          : 0;
  width           : 100%;
  font-weight     : 300;
  z-index         : 1
}

.slide-content :last-child {
  margin-bottom: 0
}

#content {
  display: block
}

.header-top-generic,
.slider-page {
  padding   : 0;
  margin    : 0;
  width     : 100%;
  min-height: 200px
}

.slider-page {
  position: relative
}

.slider-page-item {
  position           : relative;
  min-height         : 200px;
  background-size    : cover;
  background-position: center center
}

.slider-page-item-text {
  position        : absolute;
  min-height      : 50px;
  padding         : 0 0 10px 0;
  text-align      : center;
  color           : #fff;
  background-color: rgba(0, 0, 0, .25);
  position        : absolute;
  bottom          : 0;
  width           : 100%;
  font-weight     : 300;
  z-index         : 1
}

.slider-page-item-text h1 {
  font-weight: 200
}

footer {
  position  : static;
  width     : 100%;
  min-height: 120px;
  padding   : 30px 0 25px 0;
  bottom    : 0
}

footer img:hover {
  opacity: .45
}

.footer-credits {
  margin-top: 17px
}

.footer-back-top {
  margin-top: 30px
}

.btn-grid .btn {
  margin: 5px 0
}

.bg-red {
  background-color: #c22821;
  color           : #fff
}

.bg-orange {
  background-color: #e35100;
  color           : #fff
}

.bg-yellow {
  background-color: #f3b633;
  color           : #333
}

.bg-light-green {
  background-color: #3e984c;
  color           : #fff
}

.bg-green {
  background-color: #094;
  color           : #fff
}

.bg-dark-green {
  background-color: #2e4837;
  color           : #fff
}

.bg-light-blue {
  background-color: #5599db;
  color           : #fff
}

.bg-blue {
  background-color: #004c94;
  color           : #fff
}

.bg-dark-blue {
  background-color: #152a3f;
  color           : #fff
}

.bg-violet {
  background-color: #402b3c;
  color           : #fff
}

.bg-purple {
  background-color: #5c0f8b;
  color           : #fff
}

.bg-pink {
  background-color: #dc2597;
  color           : #fff
}

.bg-brown {
  background-color: #4c382d;
  color           : #fff
}

.bg-gray-10 {
  background-color: #f8f8f8;
  color           : #333
}

.bg-light-gray {
  background-color: #e8e8e8;
  color           : #666
}

.bg-gray {
  background-color: #89898c;
  color           : #444
}

.bg-dark-gray {
  background-color: #56565a;
  color           : #fff
}

.bg-black {
  background-color: #1c1c1c;
  color           : #fff
}

.red {
  color: #eb0029
}

.orange {
  color: #e35100
}

.yellow {
  color: #f3b633
}

.light-green,
.light_green {
  color: #3e984c
}

.green {
  color: #094
}

.dark-green,
.dark_green {
  color: #2e4837
}

.light-blue,
.light_blue {
  color: #5599db
}

.blue {
  color: #004c94
}

.dark-blue,
.dark_blue {
  color: #152a3f
}

.violet {
  color: #43273b
}

.purple {
  color: #5c0f8b
}

.pink {
  color: #dc2597
}

.brown {
  color: #4c382d
}

.gray {
  color: #89898c
}

.dark-gray {
  color: #56565a
}

.black {
  color: #2b2622
}

.btn-red {
  color           : #fff;
  background-color: #c22821;
  border-color    : #99201a
}

.btn-red.active,
.btn-red:active,
.btn-red:focus,
.btn-red:hover,
.open .dropdown-toggle.btn-red {
  color           : #fff;
  background-color: #99201a;
  border-color    : #c22821
}

.btn-red.active,
.btn-red:active,
.open .dropdown-toggle.btn-red {
  background-image: none
}

.btn-red.disabled,
.btn-red.disabled.active,
.btn-red.disabled:active,
.btn-red.disabled:focus,
.btn-red.disabled:hover,
.btn-red[disabled],
.btn-red[disabled].active,
.btn-red[disabled]:active,
.btn-red[disabled]:focus,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red,
fieldset[disabled] .btn-red.active,
fieldset[disabled] .btn-red:active,
fieldset[disabled] .btn-red:focus,
fieldset[disabled] .btn-red:hover {
  background-color: #99201a;
  border-color    : #c22821
}

.btn-red .badge {
  color           : #c22821;
  background-color: #fff
}

.btn-orange {
  color           : #fff;
  background-color: #e35100
}

.btn-orange.active,
.btn-orange:active,
.btn-orange:focus,
.btn-orange:hover,
.open .dropdown-toggle.btn-orange {
  color           : #fff;
  background-color: #993600;
  border-color    : #e35100
}

.btn-orange.active,
.btn-orange:active,
.open .dropdown-toggle.btn-orange {
  background-image: none
}

.btn-orange.disabled,
.btn-orange.disabled.active,
.btn-orange.disabled:active,
.btn-orange.disabled:focus,
.btn-orange.disabled:hover,
.btn-orange[disabled],
.btn-orange[disabled].active,
.btn-orange[disabled]:active,
.btn-orange[disabled]:focus,
.btn-orange[disabled]:hover,
fieldset[disabled] .btn-orange,
fieldset[disabled] .btn-orange.active,
fieldset[disabled] .btn-orange:active,
fieldset[disabled] .btn-orange:focus,
fieldset[disabled] .btn-orange:hover {
  background-color: #993600;
  border-color    : #e35100
}

.btn-orange .badge {
  color           : #e35100;
  background-color: #fff
}

.btn-yellow {
  color           : #fff;
  background-color: #f3b633;
  border-color    : #d39815
}

.btn-yellow.active,
.btn-yellow:active,
.btn-yellow:focus,
.btn-yellow:hover,
.open .dropdown-toggle.btn-yellow {
  color           : #fff;
  background-color: #d39815;
  border-color    : #f3b633
}

.btn-yellow.active,
.btn-yellow:active,
.open .dropdown-toggle.btn-yellow {
  background-image: none
}

.btn-yellow.disabled,
.btn-yellow.disabled.active,
.btn-yellow.disabled:active,
.btn-yellow.disabled:focus,
.btn-yellow.disabled:hover,
.btn-yellow[disabled],
.btn-yellow[disabled].active,
.btn-yellow[disabled]:active,
.btn-yellow[disabled]:focus,
.btn-yellow[disabled]:hover,
fieldset[disabled] .btn-yellow,
fieldset[disabled] .btn-yellow.active,
fieldset[disabled] .btn-yellow:active,
fieldset[disabled] .btn-yellow:focus,
fieldset[disabled] .btn-yellow:hover {
  background-color: #d39815;
  border-color    : #f3b633
}

.btn-yellow .badge {
  color           : #f3b633;
  background-color: #fff
}

.btn-light-green {
  color           : #fff;
  background-color: #3e984c;
  border-color    : #2c6d36
}

.btn-light-green.active,
.btn-light-green:active,
.btn-light-green:focus,
.btn-light-green:hover,
.open .dropdown-toggle.btn-light-green {
  color           : #fff;
  background-color: #2c6d36;
  border-color    : #3e984c
}

.btn-light-green.active,
.btn-light-green:active,
.open .dropdown-toggle.btn-light-green {
  background-image: none
}

.btn-light-green.disabled,
.btn-light-green.disabled.active,
.btn-light-green.disabled:active,
.btn-light-green.disabled:focus,
.btn-light-green.disabled:hover,
.btn-light-green[disabled],
.btn-light-green[disabled].active,
.btn-light-green[disabled]:active,
.btn-light-green[disabled]:focus,
.btn-light-green[disabled]:hover,
fieldset[disabled] .btn-light-green,
fieldset[disabled] .btn-light-green.active,
fieldset[disabled] .btn-light-green:active,
fieldset[disabled] .btn-light-green:focus,
fieldset[disabled] .btn-light-green:hover {
  background-color: #2c6d36;
  border-color    : #3e984c
}

.btn-light-green .badge {
  color           : #3e984c;
  background-color: #fff
}

.btn-green {
  color           : #fff;
  background-color: #3b693c;
  border-color    : #49834a
}

.btn-green.active,
.btn-green:active,
.btn-green:focus,
.btn-green:hover,
.open .dropdown-toggle.btn-green {
  color           : #fff;
  background-color: #49834a;
  border-color    : #3b693c
}

.btn-green.active,
.btn-green:active,
.open .dropdown-toggle.btn-green {
  background-image: none
}

.btn-green.disabled,
.btn-green.disabled.active,
.btn-green.disabled:active,
.btn-green.disabled:focus,
.btn-green.disabled:hover,
.btn-green[disabled],
.btn-green[disabled].active,
.btn-green[disabled]:active,
.btn-green[disabled]:focus,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green,
fieldset[disabled] .btn-green.active,
fieldset[disabled] .btn-green:active,
fieldset[disabled] .btn-green:focus,
fieldset[disabled] .btn-green:hover {
  background-color: #49834a;
  border-color    : #3b693c
}

.btn-green .badge {
  color           : #3b693c;
  background-color: #fff
}

.btn-dark-green {
  color           : #fff;
  background-color: #2e4837;
  border-color    : #466d53
}

.btn-dark-green.active,
.btn-dark-green:active,
.btn-dark-green:focus,
.btn-dark-green:hover,
.open .dropdown-toggle.btn-dark-green {
  color           : #fff;
  background-color: #466d53;
  border-color    : #2e4837
}

.btn-dark-green.active,
.btn-dark-green:active,
.open .dropdown-toggle.btn-dark-green {
  background-image: none
}

.btn-dark-green.disabled,
.btn-dark-green.disabled.active,
.btn-dark-green.disabled:active,
.btn-dark-green.disabled:focus,
.btn-dark-green.disabled:hover,
.btn-dark-green[disabled],
.btn-dark-green[disabled].active,
.btn-dark-green[disabled]:active,
.btn-dark-green[disabled]:focus,
.btn-dark-green[disabled]:hover,
fieldset[disabled] .btn-dark-green,
fieldset[disabled] .btn-dark-green.active,
fieldset[disabled] .btn-dark-green:active,
fieldset[disabled] .btn-dark-green:focus,
fieldset[disabled] .btn-dark-green:hover {
  background-color: #466d53;
  border-color    : #2e4837
}

.btn-dark-green .badge {
  color           : #2e4837;
  background-color: #fff
}

.btn-light-blue {
  color           : #fff;
  background-color: #5599db;
  border-color    : #2466a8
}

.btn-light-blue.active,
.btn-light-blue:active,
.btn-light-blue:focus,
.btn-light-blue:hover,
.open .dropdown-toggle.btn-light-blue {
  color           : #fff;
  background-color: #2466a8;
  border-color    : #5599db
}

.btn-light-blue.active,
.btn-light-blue:active,
.open .dropdown-toggle.btn-light-blue {
  background-image: none
}

.btn-light-blue.disabled,
.btn-light-blue.disabled.active,
.btn-light-blue.disabled:active,
.btn-light-blue.disabled:focus,
.btn-light-blue.disabled:hover,
.btn-light-blue[disabled],
.btn-light-blue[disabled].active,
.btn-light-blue[disabled]:active,
.btn-light-blue[disabled]:focus,
.btn-light-blue[disabled]:hover,
fieldset[disabled] .btn-light-blue,
fieldset[disabled] .btn-light-blue.active,
fieldset[disabled] .btn-light-blue:active,
fieldset[disabled] .btn-light-blue:focus,
fieldset[disabled] .btn-light-blue:hover {
  background-color: #2466a8;
  border-color    : #5599db
}

.btn-light-blue .badge {
  color           : #5599db;
  background-color: #fff
}

.btn-blue {
  color           : #fff;
  background-color: #004c94;
  border-color    : #0069cc
}

.btn-blue.active,
.btn-blue:active,
.btn-blue:focus,
.btn-blue:hover,
.open .dropdown-toggle.btn-blue {
  color           : #fff;
  background-color: #0069cc;
  border-color    : #004c94
}

.btn-blue.active,
.btn-blue:active,
.open .dropdown-toggle.btn-blue {
  background-image: none
}

.btn-blue.disabled,
.btn-blue.disabled.active,
.btn-blue.disabled:active,
.btn-blue.disabled:focus,
.btn-blue.disabled:hover,
.btn-blue[disabled],
.btn-blue[disabled].active,
.btn-blue[disabled]:active,
.btn-blue[disabled]:focus,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue,
fieldset[disabled] .btn-blue.active,
fieldset[disabled] .btn-blue:active,
fieldset[disabled] .btn-blue:focus,
fieldset[disabled] .btn-blue:hover {
  background-color: #0069cc;
  border-color    : #004c94
}

.btn-blue .badge {
  color           : #004c94;
  background-color: #fff
}

.btn-dark-blue {
  color           : #fff;
  background-color: #152a3f;
  border-color    : #2d5986
}

.btn-dark-blue.active,
.btn-dark-blue:active,
.btn-dark-blue:focus,
.btn-dark-blue:hover,
.open .dropdown-toggle.btn-dark-blue {
  color           : #fff;
  background-color: #2d5986;
  border-color    : #152a3f
}

.btn-dark-blue.active,
.btn-dark-blue:active,
.open .dropdown-toggle.btn-dark-blue {
  background-image: none
}

.btn-dark-blue.disabled,
.btn-dark-blue.disabled.active,
.btn-dark-blue.disabled:active,
.btn-dark-blue.disabled:focus,
.btn-dark-blue.disabled:hover,
.btn-dark-blue[disabled],
.btn-dark-blue[disabled].active,
.btn-dark-blue[disabled]:active,
.btn-dark-blue[disabled]:focus,
.btn-dark-blue[disabled]:hover,
fieldset[disabled] .btn-dark-blue,
fieldset[disabled] .btn-dark-blue.active,
fieldset[disabled] .btn-dark-blue:active,
fieldset[disabled] .btn-dark-blue:focus,
fieldset[disabled] .btn-dark-blue:hover {
  background-color: #2d5986;
  border-color    : #152a3f
}

.btn-dark-blue .badge {
  color           : #152a3f;
  background-color: #fff
}

.btn-violet {
  color           : #fff;
  background-color: #43273b;
  border-color    : #5c3d56
}

.btn-violet.active,
.btn-violet:active,
.btn-violet:focus,
.btn-violet:hover,
.open .dropdown-toggle.btn-violet {
  color           : #fff;
  background-color: #5c3d56;
  border-color    : #43273b
}

.btn-violet.active,
.btn-violet:active,
.open .dropdown-toggle.btn-violet {
  background-image: none
}

.btn-violet.disabled,
.btn-violet.disabled.active,
.btn-violet.disabled:active,
.btn-violet.disabled:focus,
.btn-violet.disabled:hover,
.btn-violet[disabled],
.btn-violet[disabled].active,
.btn-violet[disabled]:active,
.btn-violet[disabled]:focus,
.btn-violet[disabled]:hover,
fieldset[disabled] .btn-violet,
fieldset[disabled] .btn-violet.active,
fieldset[disabled] .btn-violet:active,
fieldset[disabled] .btn-violet:focus,
fieldset[disabled] .btn-violet:hover {
  background-color: #5c3d56;
  border-color    : #43273b
}

.btn-violet .badge {
  color           : #43273b;
  background-color: #fff
}

.btn-purple {
  color           : #fff;
  background-color: #5c0f8b;
  border-color    : #390a56
}

.btn-purple.active,
.btn-purple:active,
.btn-purple:focus,
.btn-purple:hover,
.open .dropdown-toggle.btn-purple {
  color           : #fff;
  background-color: #390a56;
  border-color    : #5c0f8b
}

.btn-purple.active,
.btn-purple:active,
.open .dropdown-toggle.btn-purple {
  background-image: none
}

.btn-purple.disabled,
.btn-purple.disabled.active,
.btn-purple.disabled:active,
.btn-purple.disabled:focus,
.btn-purple.disabled:hover,
.btn-purple[disabled],
.btn-purple[disabled].active,
.btn-purple[disabled]:active,
.btn-purple[disabled]:focus,
.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple,
fieldset[disabled] .btn-purple.active,
fieldset[disabled] .btn-purple:active,
fieldset[disabled] .btn-purple:focus,
fieldset[disabled] .btn-purple:hover {
  background-color: #390a56;
  border-color    : #5c0f8b
}

.btn-purple .badge {
  color           : #5c0f8b;
  background-color: #fff
}

.btn-pink {
  color           : #fff;
  background-color: #dc2597;
  border-color    : #a51c71
}

.btn-pink.active,
.btn-pink:active,
.btn-pink:focus,
.btn-pink:hover,
.open .dropdown-toggle.btn-pink {
  color           : #fff;
  background-color: #a51c71;
  border-color    : #dc2597
}

.btn-pink.active,
.btn-pink:active,
.open .dropdown-toggle.btn-pink {
  background-image: none
}

.btn-pink.disabled,
.btn-pink.disabled.active,
.btn-pink.disabled:active,
.btn-pink.disabled:focus,
.btn-pink.disabled:hover,
.btn-pink[disabled],
.btn-pink[disabled].active,
.btn-pink[disabled]:active,
.btn-pink[disabled]:focus,
.btn-pink[disabled]:hover,
fieldset[disabled] .btn-pink,
fieldset[disabled] .btn-pink.active,
fieldset[disabled] .btn-pink:active,
fieldset[disabled] .btn-pink:focus,
fieldset[disabled] .btn-pink:hover {
  background-color: #a51c71;
  border-color    : #dc2597
}

.btn-pink .badge {
  color           : #dc2597;
  background-color: #fff
}

.btn-brown {
  color           : #fff;
  background-color: #4c382d;
  border-color    : #705242
}

.btn-brown.active,
.btn-brown:active,
.btn-brown:focus,
.btn-brown:hover,
.open .dropdown-toggle.btn-brown {
  color           : #fff;
  background-color: #705242;
  border-color    : #4c382d
}

.btn-brown.active,
.btn-brown:active,
.open .dropdown-toggle.btn-brown {
  background-image: none
}

.btn-brown.disabled,
.btn-brown.disabled.active,
.btn-brown.disabled:active,
.btn-brown.disabled:focus,
.btn-brown.disabled:hover,
.btn-brown[disabled],
.btn-brown[disabled].active,
.btn-brown[disabled]:active,
.btn-brown[disabled]:focus,
.btn-brown[disabled]:hover,
fieldset[disabled] .btn-brown,
fieldset[disabled] .btn-brown.active,
fieldset[disabled] .btn-brown:active,
fieldset[disabled] .btn-brown:focus,
fieldset[disabled] .btn-brown:hover {
  background-color: #705242;
  border-color    : #4c382d
}

.btn-brown .badge {
  color           : #4c382d;
  background-color: #fff
}

.btn-gray {
  color           : #fff;
  background-color: #89898c;
  border-color    : #656567
}

.btn-gray.active,
.btn-gray:active,
.btn-gray:focus,
.btn-gray:hover,
.open .dropdown-toggle.btn-gray {
  color           : #fff;
  background-color: #656567;
  border-color    : #89898c
}

.btn-gray.active,
.btn-gray:active,
.open .dropdown-toggle.btn-gray {
  background-image: none
}

.btn-gray.disabled,
.btn-gray.disabled.active,
.btn-gray.disabled:active,
.btn-gray.disabled:focus,
.btn-gray.disabled:hover,
.btn-gray[disabled],
.btn-gray[disabled].active,
.btn-gray[disabled]:active,
.btn-gray[disabled]:focus,
.btn-gray[disabled]:hover,
fieldset[disabled] .btn-gray,
fieldset[disabled] .btn-gray.active,
fieldset[disabled] .btn-gray:active,
fieldset[disabled] .btn-gray:focus,
fieldset[disabled] .btn-gray:hover {
  background-color: #656567;
  border-color    : #89898c
}

.btn-gray .badge {
  color           : #89898c;
  background-color: #fff
}

.btn-dark-gray {
  color           : #fff;
  background-color: #56565a;
  border-color    : #7d7d82
}

.btn-dark-gray.active,
.btn-dark-gray:active,
.btn-dark-gray:focus,
.btn-dark-gray:hover,
.open .dropdown-toggle.btn-dark-gray {
  color           : #fff;
  background-color: #7d7d82;
  border-color    : #56565a
}

.btn-dark-gray.active,
.btn-dark-gray:active,
.open .dropdown-toggle.btn-dark-gray {
  background-image: none
}

.btn-dark-gray.disabled,
.btn-dark-gray.disabled.active,
.btn-dark-gray.disabled:active,
.btn-dark-gray.disabled:focus,
.btn-dark-gray.disabled:hover,
.btn-dark-gray[disabled],
.btn-dark-gray[disabled].active,
.btn-dark-gray[disabled]:active,
.btn-dark-gray[disabled]:focus,
.btn-dark-gray[disabled]:hover,
fieldset[disabled] .btn-dark-gray,
fieldset[disabled] .btn-dark-gray.active,
fieldset[disabled] .btn-dark-gray:active,
fieldset[disabled] .btn-dark-gray:focus,
fieldset[disabled] .btn-dark-gray:hover {
  background-color: #7d7d82;
  border-color    : #56565a
}

.btn-dark-gray .badge {
  color           : #56565a;
  background-color: #fff
}

.btn-super-gray {
  color           : #fff;
  background-color: #4d4d4d;
  border-color    : grey
}

.btn-super-gray.active,
.btn-super-gray:active,
.btn-super-gray:focus,
.btn-super-gray:hover,
.open .dropdown-toggle.btn-super-gray {
  color           : #fff;
  background-color: grey;
  border-color    : #4d4d4d
}

.btn-super-gray.active,
.btn-super-gray:active,
.open .dropdown-toggle.btn-super-gray {
  background-image: none
}

.btn-super-gray.disabled,
.btn-super-gray.disabled.active,
.btn-super-gray.disabled:active,
.btn-super-gray.disabled:focus,
.btn-super-gray.disabled:hover,
.btn-super-gray[disabled],
.btn-super-gray[disabled].active,
.btn-super-gray[disabled]:active,
.btn-super-gray[disabled]:focus,
.btn-super-gray[disabled]:hover,
fieldset[disabled] .btn-super-gray,
fieldset[disabled] .btn-super-gray.active,
fieldset[disabled] .btn-super-gray:active,
fieldset[disabled] .btn-super-gray:focus,
fieldset[disabled] .btn-super-gray:hover {
  background-color: #4d4d4d;
  border-color    : grey
}

.btn-super-gray .badge {
  color           : #4d4d4d;
  background-color: #fff
}

.btn-super-gray.font-red {
  color: #c22821
}

.btn-super-gray.font-orange {
  color: #e35100
}

.btn-super-gray.font-yellow {
  color: #f3b633
}

.btn-super-gray.font-green {
  color: #3e984c
}

.btn-super-gray.font-blue {
  color: #5599db
}

.btn-black {
  color           : #fff;
  background-color: #1c1c1c;
  border-color    : #444
}

.btn-black.active,
.btn-black:active,
.btn-black:focus,
.btn-black:hover,
.open .dropdown-toggle.btn-black {
  color           : #fff;
  background-color: #333
}

.btn-black.active,
.btn-black:active,
.open .dropdown-toggle.btn-black {
  background-image: none
}

.btn-black.disabled,
.btn-black.disabled.active,
.btn-black.disabled:active,
.btn-black.disabled:focus,
.btn-black.disabled:hover,
.btn-black[disabled],
.btn-black[disabled].active,
.btn-black[disabled]:active,
.btn-black[disabled]:focus,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black,
fieldset[disabled] .btn-black.active,
fieldset[disabled] .btn-black:active,
fieldset[disabled] .btn-black:focus,
fieldset[disabled] .btn-black:hover {
  background-color: #1c1c1c;
  border-color    : #333
}

.btn-black .badge {
  color           : #1c1c1c;
  background-color: #fff
}

.btn-transparent {
  background-color: transparent;
  border          : 2px solid #fff;
  border-bottom   : 2px solid #fff;
  color           : #fff;
  margin          : 5px 0;
  transition      : .5s
}

.btn-transparent:focus,
.btn-transparent:hover {
  color: #fff
}

.btn-estampado {
  color           : #000;
  /* background-image: url(../../img/cover/bg-btn-carnaval.png); */
  background-size : cover
}

.btn-up,
.btn-up:active,
.btn-up:after,
.btn-up:before,
.btn-up:focus {
  opacity         : 0;
  position        : fixed;
  bottom          : 5%;
  right           : 5%;
  font-size       : 20px;
  padding         : 5px 10px 7px 10px;
  background-color: #333;
  background-color: rgba(0, 0, 0, .25);
  color           : #fff;
  color           : rgba(255, 255, 255, .5);
  border-radius   : 3px
}

.btn-up:hover {
  background-color: rgba(0, 0, 0, .75);
  color           : #fff
}

.btn-inscricao .btn-lg {
  margin        : 15px 0;
  padding-top   : 15px;
  padding-bottom: 15px;
  font-size     : 20px;
  line-height   : 25px
}

.btn-rounded {
  border-radius: 4px
}

.img-sponsors:hover {
  opacity: .75
}

.bg-cover-fixed {
  padding              : 50px 0;
  background-size      : cover;
  background-attachment: fixed
}

.bg-cover-fixed h1 {
  color      : #fff;
  text-shadow: -1px 1px 5px #333;
  padding    : 0;
  margin     : 0;
  font-size  : 45px;
  line-height: 50px
}

.bg-cover-fixed small {
  color         : #fff;
  font-size     : 50%;
  line-height   : 35px;
  text-transform: uppercase
}

.nav-tabs li {
  font-size: 20px
}

.nav-tabs .active {
  font-weight: 700
}

.sponsors {
  padding: 35px 0
}

.font-100,
.sponsors h1 {
  font-weight: 100
}

@media (max-width:468px) {
  .col-sp {
    padding-top: 25px
  }
}

@media (min-width:992px) {
  .col-sp {
    float: left;
    width: 20%
  }
}

.at4-follow,
.atss {
  z-index: 5 !important
}

@media(max-width:768px) {

  #trilhas-florianopolis>.row>div,
  #trilhas-portoalegre>.row>div,
  #trilhas-saopaulo>.row>div {
    padding-top: 25px
  }
}

.icone-semVaga-black {
  color: rgba(0, 0, 0, .5)
}

.icone-semVaga-white {
  color: rgba(255, 255, 255, .5)
}

#picStadium {
  /* background-image   : url(https://cdn.thedevconf.com.br/2015/img/cover/faq_auditorio-floripa-2014.jpg); */
  background-position: center -115px
}

#picStadium h1 {
  color: rgba(255, 255, 255, .75)
}

#picStadium small {
  color: rgba(255, 255, 255, .5)
}

#formC4Pfloripa {
  padding-bottom: 160%
}

#picInscricoes {
  /* background-image: url(https://cdn.thedevconf.com.br/2015/img/cover/crachas-floripa-2014.jpg); */
  background-position: center top
}

#picEdicoes {
  /* background-image: url(https://cdn.thedevconf.com.br/2016/img/cover/crachas-floripa-2015.jpg); */
  background-position: center top
}

#picPatrocinadores {
  /* background-image: url(https://cdn.thedevconf.com.br/2016/img/cover/crachas-floripa-2015.jpg); */
  background-position: center top
}

#coverDivulgacao {
  /* background-image: url(https://cdn.thedevconf.com.br/2014/img/slider/banner-divulgacao-compartilhar.jpg); */
  background-position  : center top;
  background-attachment: initial !important
}

#picOnline {
  /* background-image: url(https://cdn.thedevconf.com.br/2015/img/cover/tdc-2014-sp_stadium-cover.jpg); */
  background-position  : center bottom;
  background-attachment: initial
}

#picContato {
  /* background-image: url(https://cdn.thedevconf.com.br/2015/img/cover/tdc-2014-saopaulo-credenciamento.jpg); */
  background-position: left bottom
}

@media (min-width:1200px) and (max-width:1300px) {
  .container {
    padding-left : 40px;
    padding-right: 40px
  }
}

.img-sponsors {
  max-width : 50%;
  margin-top: -18px
}

.table-inscricoes td,
.table-inscricoes th {
  padding   : 22px 10px !important;
  text-align: center
}

.table-inscricoes .fase-1 {
  background  : #094;
  border-color: #094;
  color       : #fff;
  padding     : 17px 0 !important
}

.table-inscricoes .fase-2 {
  background  : #ffb819;
  border-color: #ffb819;
  color       : #fff;
  padding     : 17px 0 !important
}

.table-inscricoes .fase-3 {
  background  : #eb0029;
  border-color: #eb0029;
  color       : #fff;
  padding     : 17px 0 !important
}

.table-inscricoes p {
  font-size: 16px;
  margin   : 0
}

.table-inscricoes p small {
  font-size: 13px;
  margin   : 0
}

.table-inscricoes .th-modalidades {
  background: #f9f9f9
}

.table-inscricoes h3 {
  margin: 0 !important
}

.table-inscricoes .inativo {
  color: #bbb
}

.headline-patrocinio {
  color         : #bbb;
  text-transform: uppercase
}

.hr-0-margin {
  margin: 0
}

.row-centered {
  text-align: center
}

.col-centered {
  display     : inline-block;
  float       : none;
  text-align  : left;
  margin-right: -4px
}

.row-mt-45 {
  margin-top: 45px
}

@media screen and (max-width:699px) {
  .img-sponsors {
    margin-top: 10px
  }

  .row-mt-45 {
    margin-top: 0
  }
}

@media (min-width:900px) {
  .btn-3-colunas {
    width: 330% !important
  }

  .btn-2-colunas {
    width: 215% !important
  }

  .esconder {
    display: none !important
  }
}

.right-block {
  float       : right;
  margin-right: 18px
}